@{
  Layout = "_Layout";
}

@model FrenchBakery.Models.Flavor

<h1>Add a new Flavor</h1>
<hr />

@using (Html.BeginForm())
{
  <p>
    @Html.Label("Type of Flavor:")
    @Html.TextBoxFor(model => model.Type)
  </p>

  <p>
    <input type="submit" value="Add new Flavor" class="btn" />
  </p>
}