@{
  Layout = "_Layout";
}

@model FrenchBakery.Models.Treat;

<br>
<div class="card custom-card">
  <div class="card-header">
    <h1>Add a new Treat</h1>
  </div>
  @using (Html.BeginForm())
  {
    <div class="card-body">
      <div class="form-group">
        @Html.Label("Name of Treat:")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name of Product"})
      </div>
      <div class="form-group">
        @Html.Label("Price:")
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", step = "0.01", max = "100000.00", placeholder = "Amount", required = "required" })
      </div>
    </div>
    <div class="card-footer">
      <input type="submit" value="Add new Treat" class="btn btn-outline-secondary" />
    </div>
  }
</div>