@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1 class="display-1"><strong>Pierre's French Bakery</strong></h1>
  <h1 class="display-3">of</h1>
  <h1 class="display-2">Sweet and Savory Treats</h1>
</div>


  <img class= "homeImg" src="~/img/macaroons.jpg">
