* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

.navbar-custom {
  height: 100px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
}

.nav-item {
  font-size: 20px;
}

.btn {
  font-size: 20px;
}

textarea {
  width: 250px;
  height:100px;
}

.jumbotron {
  background-image: url(../img/macaroons.jpg);
  text-align: center;
  margin-top: 10px;
}

.title {
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.menu-items {
  font-size: 20px;
}

.menu {
  max-width: 900px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.flavor {
  max-width: 900px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.custom-card {
  max-width: 900px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
